<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor type="Sitecore.Support.Commerce.XA.Foundation.Catalog.Pipelines.CatalogPageItemResolver, Sitecore.Support.281055" patch:instead="*[@type='Sitecore.Commerce.XA.Foundation.Catalog.Pipelines.CatalogPageItemResolver, Sitecore.Commerce.XA.Foundation.Catalog']" />
            </httpRequestBegin>
        </pipelines>
    </sitecore>
</configuration>


